<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <%= stylesheet_link_tag "products" %>
</head>

<header>
    <ul>
        <li class="logo-title"><a href="/">Erik's Store</a></li>
    </ul>
    <ul>
        <li><small><a href="/">Home</a></small></li>
        <li><small><a href="/about">About</a></small></li>
        <li><small><a href="/admin">Admin</a></small></li>
    </ul>
</header>