<%= render "shared/header" %>

<div class="body">
<h1>About</h1>
<p>Erik's store was founded May 9th 2021. This store sells books that I've either really enjoyed or I would like to read.</p>
<p>Have a book suggestion? Let's connect! erik.store@gmail.com</p>

<%= render "shared/footer" %>
