html, body {
    color: #000;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

.body {
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
}

header {
    margin-bottom: 70px;
    text-align: center;
    background-color: #a5d5e0;
    padding: 0.75em 0.3em;
}

header a {
    font-weight: normal;
    border-bottom: none;
}

header ul.nav {
    margin-left: 0;
    text-align:center;
}

header ul li {
    display:inline-block;
    list-style: none;
    margin: 0 5px;
}

header li.logo-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
}

small {
    font-size: 90%;
}

.active-discount {
    color: green;
}

.inactive-discount {
    color: red;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}